<div class="character-details">
  <div class="container">
    <div class="row padding-top">
      <div class="col-12">
        <ul class="list-group" *ngIf="character">
          <li class="list-group-item">Name: {{character.name}}</li>
          <li class="list-group-item">Eye Color: {{character.eye_color}}</li>
          <li class="list-group-item">Mass: {{character.mass}}</li>
          <li class="list-group-item">Hair Color: {{character.hair_color}}</li>
          <li class="list-group-item">Skin Color: {{character.skin_color}}</li>
          <li class="list-group-item">Birth Year: {{character.birth_year}}</li>
          <li class="list-group-item">Gender: {{character.gender}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
