<div class="container">
  <div class="row padding-top">
    <div class="col-12">
      <label for="searchCharacter">Search by name:</label>
      <div class="input-group">
        <input type="text" id="searchCharacter" class="form-control" [(ngModel)]="searchInput" (keyup.enter)="getCharacters()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="getCharacters()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-outline-secondary right-float margin-top" (click)="toggleSortCharacters()">
        <img [hidden]="isSortedByAlphabet" src="assets/icons/sort-by-alphabet.png" alt="">
        <img [hidden]="!isSortedByAlphabet" src="assets/icons/sort-reverse-alphabetical-order.png" alt="">
      </button>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let char of characters" @items>
          {{ char.name }}
          <button class="btn btn-outline-secondary right-float" [routerLink]="['/characters', getCharacterId(char.url)]">
            Details
          </button>
        </li>
        <li class="list-group-item" *ngIf="characters && characters.length == 0">Character not found!</li>
      </ul>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-12 d-flex justify-content-center">
      <ngb-pagination
        [boundaryLinks]="true"
        [collectionSize]="count"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [page]="currentPage"
        (pageChange)="getCharacters($event)">
      </ngb-pagination>
    </div>
  </div>
</div>
