<div class="container">
    <div class="row padding-top">
      <div class="col-12">
        <label for="searchStarships">Search by name:</label>
        <div class="input-group">
          <input type="text" id="searchStarships" class="form-control" [(ngModel)]="searchInput" (keyup.enter)="getStarshipsByName()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="getStarshipsByName()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-outline-secondary right-float margin-top" (click)="toggleSortStarships()">
          <img [hidden]="isSortedByAlphabet" src="assets/icons/sort-by-alphabet.png" alt="">
          <img [hidden]="!isSortedByAlphabet" src="assets/icons/sort-reverse-alphabetical-order.png" alt="">
        </button>
      </div>
    </div>
    <div class="row padding-top">
      <div class="col-12">
        <ul class="list-group">
          <!-- <li class="list-group-item" *ngFor="let starship of starships">
            {{starship.name}}
            <button class="btn btn-outline-secondary right-float" [routerLink]="getStarshipId(starship.url)">Details</button>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="row padding-top">
      <div class="col-12">
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li class="page-item" *ngIf="currentPage - 1 != 0">
              <a class="page-link" (click)="prevPage()">{{currentPage - 1}}</a>
            </li>
            <li class="page-item active">
              <a class="page-link">{{currentPage}}</a>
            </li>
            <li class="page-item" *ngIf="currentPage + 1 != 10">
                <a class="page-link" (click)="nextPage()">{{currentPage + 1}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage()">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
  