<ng-template #specieModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{specie.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex">
      <ul class="list-group list-group-flush fill-width ">
          <li class="list-group-item">
            <b>Average Height:</b> {{specie.average_height}}
          </li>
          <li class="list-group-item">
            <b>Average Lifespan:</b> {{specie.average_lifespan}}
          </li>
          <li class="list-group-item">
            <b>Classification:</b> {{specie.classification}}
          </li>
          <li class="list-group-item">
            <b>Designation:</b> {{specie.designation}}
          </li>
          <li class="list-group-item">
            <b>Eye Colors:</b> {{specie.eye_colors}}
          </li>
          <li class="list-group-item">
            <b>Hair Colors:</b> {{specie.hair_colors}}
          </li>
          <li class="list-group-item">
            <b>Language:</b> {{specie.language}}
          </li>
          <li class="list-group-item">
            <b>Skin Colors:</b> {{specie.skin_colors}}
          </li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>