<div class="container">
  <div class="row padding-top">
    <div class="col-12">
      <label for="searchStarships">Search by name:</label>
      <div class="input-group">
        <input type="text" id="searchStarships" class="form-control" [(ngModel)]="searchInput" (keyup.enter)="getStarships()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="getStarships()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-outline-secondary right-float margin-top" (click)="toggleSortStarships()">
        <img [hidden]="isSortedByAlphabet" src="assets/icons/sort-by-alphabet.png" alt="">
        <img [hidden]="!isSortedByAlphabet" src="assets/icons/sort-reverse-alphabetical-order.png" alt="">
      </button>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let starship of starships">
          {{starship.name}}
          <button class="btn btn-outline-secondary right-float" [routerLink]="['/starships', getStarshipId(starship.url)]">Details</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-12">
      <nav>
        <ngb-pagination
          [boundaryLinks]="true"
          [collectionSize]="count"
          [maxSize]="5"
          [rotate]="true"
          [ellipses]="false"
          [page]="currentPage"
          (pageChange)="getStarships($event)">
        </ngb-pagination>
      </nav>
    </div>
  </div>
</div>
