<div class="home-page">
  <div class="container">
    <div class="row text-center padding-botom">
        <div class="col-12 col-md-8 offset-md-2">
          <h1 class="jumbotron-heading">Star Wars Portal</h1>
        </div>
      </div>
    <div class="row padding-botom">
      <div class="col-12 col-md-10 offset-md-1">
        <ngb-carousel class="custom-carousel">
          <ng-template ngbSlide>
            <img src="assets/images/0.jpg">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/1.jpg">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/2.jpg">
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-md-6 offset-md-3">
          <p class="text-justify">
            Welcome to Star Wars Portal, if you`re a good fan of this film serie, here is the place where you can find lots of details about the characters and starships.
          </p>
      </div>
    </div>
  </div>
</div>
